/**
*
**/

main-app
	display flex
	flex-direction column
	justify-content space-between
	min-height 100%
	width 1460px
	margin 0 auto

.b-header
	height 70px
	line-height 70px
	background #b0bec5

	&__title
		margin 0
		text-align center

.b-nav
	position fixed
	width 50px
	height 100%
	overflow hidden
	background #90a4ae

	&:hover
		width 300px

.b-content
	flex 1 0 auto
	background #fafafa

.b-footer
	height 70px
	line-height 70px
	background #b0bec5

	&__summary
		font-weight 700
		text-align center
