header.b-header
	h1.b-header__title Обращения для репозитариев GitHub
aside.b-nav
main.b-content(ng-view)
footer.b-footer
	.b-footer__summary Тестовое задание соискателя на должность программист JavaScript.
