.page
	display flex
	flex-direction column
	justify-content space-between
	min-height 100%
	width 1460px
	margin 0 auto

.page-header
	height 70px
	line-height 70px
	background #b0bec5

	&__title
		margin 0
		text-align center

.page-main
	display flex
	flex-direction row
	justify-content space-between
	flex 1 0 auto

.page-search
	width 300px
	height 100%
	min-height 100%
	overflow hidden
	background #90a4ae

.page-content
	flex 1 0 auto
	background #fafafa

.page-footer
	height 70px
	line-height 70px
	background #b0bec5

	&__summary
		font-weight 700
		text-align center
