/**
*	стили для компонента issuesList
**/

.issues-list
	display flex
	flex-direction column
	justify-content space-between

	&-header
		height 50px
		line-height 50px
		background #b0bec5

		&__title
			text-align center
			margin 0

	&-items
		display flex
		flex-direction column
		justify-content space-between
		flex 1 0 auto
		list-style-type none
		margin 1rem

		&__item
			display block
			margin-bottom 1rem
			padding 1rem

	&-footer
		height 50px
		line-height 50px
		background #b0bec5
