.page
	header.page-header
		h1.page-header__title Обращения для репозитариев GitHub
	.page-main
		aside.page-search
			repo-search
		main.page-content(ng-view)
	footer.page-footer
		.page-footer__summary Тестовое задание соискателя на должность программист JavaScript.
