/**
*
**/

.repo-find
	display flex
	flex-direction column
	max-width 400px
	width 100%
	padding 1em;

	&__label
		display block
		margin-top 1em
		margin-bottom .5em
		font-weight 700

	&__input
		display block
		width 300px
		height 1.5em
		padding-left .5em
