.repo-search
	display flex
	flex-direction column
	max-width 300px
	width 90%
	padding .5em;

	&__label
		display block
		margin-top 1em
		margin-bottom .5em
		font-weight 700

	&__input
		display block
		width 250px
		height 1.5em
		padding-left .5em
